<!DOCTYPE html>

<head>
    <title>Booklist Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="javascripts/login.js"></script>

</head>

<body ng-app="booklistlogin" ng-controller="MainCtrl" data-ng-init="init()">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                
                <h1>Booklist Login</h1>
            </div>


            <h3>Login Existing User</h3>
            <form ng-submit="attemptLogin()" style="margin-top30px;">
                <input type="text" ng-model="username"></input>
                <input type="password" ng-model="password"></input>
                <button type="submit">Login</button>
            </form>
            
            <div>
                {{error}}
            </div>
            
            <h3>Register New User</h3>
            <form ng-submit="attemptRegister()" style="margin-top30px;">
                <input type="text" ng-model="usernameRegister"></input>
                <input type="password" ng-model="passwordRegister"></input>
                <button type="submit">Register</button>
            </form>
            <br>
            <br>

            <form ng-submit="deleteAll()" style="margin-top30px;">
                <input type="password" ng-model="devPW"></input>
                <button type="submit">Wipe DB</button>
            </form>

        </div>
    </div>
</body>

</html>
